.header__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: var(--link-transition);
  margin:0;
  padding: 0;
}

.header__link:hover {
  opacity: var(--hovered-link-opacity)
}
